:root{
--bg:#0b1121;
--card:#1e293b;
--text:#f8fafc;
--accent:#38bdf8;
}

body{
font-family:Segoe UI;
background:var(--bg);
color:var(--text);
margin:0;
}

header{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
gap:10px;
}

.profile-pic{
width:130px;
height:130px;
border-radius:50%;
object-fit:cover;
border:3px solid var(--accent);
transition:0.3s;
}

.profile-pic:hover{
transform:scale(1.1);
box-shadow:0 0 20px var(--accent);
}

h1{
color:var(--accent);
font-size:3rem;
}

.typing{
color:#94a3b8;
}

.btn{
background:var(--accent);
padding:10px 20px;
color:#000;
border-radius:5px;
text-decoration:none;
margin-top:10px;
}

.container{
max-width:1000px;
margin:auto;
padding:30px;
}

.card{
background:var(--card);
padding:20px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:20px;
}

.skills-list{
display:flex;
flex-wrap:wrap;
gap:10px;
}

.skill-item{
background:#334155;
padding:8px 12px;
border-radius:20px;
}

footer{
text-align:center;
padding:30px;
color:#94a3b8;
}
